body{
    margin: 0%;
    position: relative;
    top: -50px;
}

.pagina{
    background-color: rgb(211, 229, 255);
    text-align: center;
    width: 100%;
    height: 1000px ;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.bloco_horizontal{
    width: 100%;
    height: 250px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,44,105,0.8939950980392157) 50%, rgba(0,212,255,1) 100%);
}

.bloco_vertical{
    
    margin-left: 50px;
    margin-right: -20px;
   
    position: relative;
    top: -118px;


    width: 300px;
    height: 1000px ;
    background-color:#868686;
}

.foto{
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50% ;
    margin-top: 25px;
}

.centro{
    position: relative;
    right: -14 0px; 
    margin-left: 370px; 
    text-align: left;
}

.p_v{
    position: relative;
    top: 40px;
}

.nome{
    position: relative;
    top: 110px;
    margin-left: 370px; 
    text-align: left;
    color: white;
    font-size: 50px;
}

.icone{
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px; 
}

.titulo{
    font-weight: bold;
}

.texto_v{
    font-size: 20px;
}

@media(min-width: 200px) {
    .pagina{
        height: 1800px ;
    }

    .bloco_vertical{
        height: 1800px;
    }
}

@media(min-width: 300px) {
    .pagina{
        height: 1700px ;
    }

    .bloco_vertical{
        height: 1700px;
    }
}

@media(min-width: 576px) {
    .pagina{
        height: 1600px ;
    }

    .bloco_vertical{
        height: 1600px;
    }
}

@media(min-width: 768px) {
    .pagina{
        height: 1500px ;
    }

    .bloco_vertical{
        height: 1500px;
    }
}

@media(min-width: 992px) {
    .pagina{
        height: 1400px ;
    }

    .bloco_vertical{
        height: 1400px;
    }
}

@media(min-width: 1200px) {
    .pagina{
        height: 1200px ;
    }

    .bloco_vertical{
        height: 1200px;
    }
}

@media(min-width: 1400px) {
    .pagina{
        height: 1100px ;
    }

    .bloco_vertical{
        height: 1100px;
    }
}